h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-weight: bolder;
}

h1,
h3 {
  font-size: 32px;
  margin-top: 25px;
  color: rgb(235, 153, 52);
}

h1,
h2 {
  padding-left: 25px;
}

h2 {
  font-size: 32px;
  margin-top: 25px;
  color: rgb(49, 110, 110);
}

li {
  text-align: center;
  list-style: none;
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
}

.citySearch {
  border: 1px solid rgb(143, 106, 65);
  max-width: 600px;
  margin: 25px;
  padding: 15px 0 0;
  background-image: linear-gradient(to right, #f0f4f5 0%, #dee7e6 50%);
  border-radius: 30px;
}
.sourcecode {
  margin-top: 20px;
  padding-left: 15px;
}

.input-group {
  margin: 0 auto;
  max-width: 400px;
}

.temperatures {
  font-size: 32px;
  font-weight: 800;
  position: relative;
  left: 55px;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(143, 106, 65);
}


