h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-weight: bolder;
}

h1,
h3 {
  font-size: 32px;
  margin-top: 25px;
  color: rgb(180, 165, 154);
}

h1,
h2 {
  padding-left: 25px;
}

h2 {
  font-size: 32px;
  margin-top: 25px;
  color: rgb(180, 165, 154);
}

li {
  text-align: center;
  list-style: none;
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
}

.citySearch {
  border: 1px solid rgb(94, 91, 89);
  max-width: 600px;
  margin: 30px auto;
  padding: 15px;
  background-image: linear-gradient(to right, #def3f8 0%, #dfe2e2 85%);
  border-radius: 30px;
}
.sourcecode {
  margin-top: 20px;
  padding-left: 15px;
}

.input-group {
  margin: 0 auto;
  max-width: 400px;
}

.temperatures {
  font-size: 32px;
  font-weight: 800;
  position: relative;
  left: 55px;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(180, 165, 154);
}


