h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  margin-top: 25px;
  color: rgb(49, 110, 110);
}

h1,
h3 {
  font-size: 28px;
  margin-top: 25px;
  color: rgb(235, 153, 52);
}

li {
  text-align: center;
  list-style: none;
}


.citySearch {
  border: 1px solid rgb(143, 106, 65);
  max-width: 600px;
  margin: 25px;
  padding: 15px 0 0;
  background-image: linear-gradient(to right, #f5f3f0 0%, #e7e1de 70%);
  border-radius: 30px;
}
.sourcecode {
  margin-top: 20px;
}
.condition {
  text-align: center;
}
.sun {
  text-align: center;
  margin-top: -20px;
  margin-bottom: -30px;
  font-size: 60px;
}

.current {
  text-align: center;
  font-size: 28px;
}
.input-group {
  margin: 0 auto;
  max-width: 400px;
}

.temperatures {
  font-size: 32px;
  font-weight: 800;
  position: relative;
  left: 55px;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(143, 106, 65);
}


